# Bases de datos PostgreSQL
# Global (usuarios)
GLOBAL_DATABASE_URL=postgresql+psycopg://postgres:4585874556@localhost/software-gestion-turnos-usuarios
# Tenant por defecto (barbería)
DEFAULT_TENANT_DATABASE_URL=postgresql+psycopg://postgres:4585874556@localhost/juancho-barber

# Configuración de la aplicación
APP_NAME=Sistema de Gestión de Turnos
DEBUG=true

# Configuración de seguridad (CAMBIAR EN PRODUCCIÓN)
SECRET_KEY=tu_clave_secreta_aqui_cambiar_en_produccion
ACCESS_TOKEN_EXPIRE_MINUTES=30
ALGORITHM=HS256

# Configuración del servidor
HOST=0.0.0.0
PORT=8000
